<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75562462410-k063969tco2ciq2t5jkm2d1m1hf758o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75562462410-k063969tco2ciq2t5jkm2d1m1hf758o9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75562462410-hs99q6hpbtemvqflmastsg4iv0q0epbq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDarInsLabfzGqytxw5aeXlS9Gmiuu-sbw</string>
	<key>GCM_SENDER_ID</key>
	<string>75562462410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.flutterai</string>
	<key>PROJECT_ID</key>
	<string>botidinamix-a6d7b</string>
	<key>STORAGE_BUCKET</key>
	<string>botidinamix-a6d7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75562462410:ios:e94a421549c8f3570a5833</string>
</dict>
</plist>